aside {
    background: #161D2F;
    border-radius: 20px;
    /*position: absolute;*/
    width: 96px;
    height: 960px;
    left: 32px;
    top: 32px;
    gap: 552px;
}

aside, .side-bar-icons-container, .side-bar-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-bar-icons-container {
    gap: 75px;
}


.side-bar-logo {
    text-align: center;
    padding-top: 35px;

}

.side-bar-icons {
    gap: 40px;
}

.side-bar-avatar {
    width: 40px;
    height: 40px;
}


