aside {
    background: #161D2F;
    border-radius: 20px;
    position: absolute;
    width: 96px;
    height: 960px;
    left: 32px;
    top: 32px;
}

.side-bar-logo {
    text-align: center;
    padding-top: 35px;

}

