.input-container {
    display: flex;
    gap: 15px;
}

.search-input {
    background: transparent;
    border: none;
    width: 321px;
    font-size: 24px;
    color: #FFFFFF;
}

.trending {
    display: flex;
    flex-wrap: wrap;
}

.recommended {
    display: flex;
    flex-wrap: wrap;
}

ul {
    padding: 0;
    margin: 0;
    width: fit-content;
}

.movies-container{
    list-style: none;
}

.thumb-container {
    position: relative;
}

.thumb-image {
    width: 280px;
}

.bookmarked-icon {
    position: absolute;
    right: 30px;
    top: 36px;
    padding: 6px 10px;
    border-radius: 22px;
    background: #979797bf;
    
}

.category {
    display: flex;
    align-items: center;
    gap: 10px;

}
.category h6 {
    margin: 0;
}

.display-center {
    display: flex;
    align-items: center;
}

.list-style::before {
    content: '•';
    margin-right: 10px;

}

