.input-container {
    display: flex;
    gap: 15px;
}

.search-input {
    background: transparent;
    border: none;
    width: 321px;
    font-size: 24px;
    color: #FFFFFF;
}

.thumb-container {
    position: relative;
}

.bookmarked-icon {
    position: absolute;
    right: 30px;
    top: 36px;
}