.input-container {
    display: flex;
    gap: 15px;
}

.search-input {
    background: transparent;
    border: none;
    width: 321px;
    font-size: 24px;
    color: #FFFFFF;
}

ul {
    padding: 0;
    margin: 0;
    width: fit-content;
}

.movies-container{
    list-style: none;
}

.thumb-container {
    position: relative;
}

.bookmarked-icon {
    position: absolute;
    right: 30px;
    top: 36px;
}

.category {
    display: flex;
    gap: 20px;

}
.category h6 {
    margin: 0;
}

.list-style {
    display: list-item;
    list-style: outside;
}

