:root {
    --font-family: 'Outfit', sans-serif;
}

* {
    font-family: var(--font-family);
    color: #FFFFFF;
}

html {
    width: 1440px;
    background: #10141E;
    padding-left: 32px;
    padding-top: 32px;
    padding-bottom: 52px;
}

